:root
{
    --p80: 80px;
    --p160: 160px;
    --p320: 320px;
    --p640: 640px;
    --p960: 960px;
}
@media (prefers-color-scheme: dark)
{

}
@media (prefers-color-scheme: dark)
{
    :root
    {
        --color-0a: #ffffff37;
        --color-0b: #ffffff;
        --color-1a: rgba(255,137,134,1);
        --color-1b: rgba(242, 79, 79,1);
        --color-1c: rgba(206, 37, 27,1);	/* Main Primary color */
        --color-1d: rgba(155,  6,  2,1);
        --color-1e: rgba( 91,  2,  0,1);

        --color-2a: rgba(255,204,134,1);
        --color-2b: rgba(239,169, 73,1);
        --color-2c: rgba(206,129, 22,1);	/* Main Secondary color (1) */
        --color-2d: rgba(155, 91,  2,1);
        --color-2e: rgba( 91, 53,  0,1);

        --color-3a: rgba(106,151,189,1);
        --color-3b: rgba( 54,109,154,1);
        --color-3c: rgba( 23, 83,133,1);	/* Main Secondary color (2) */
        --color-3d: rgba(  8, 58,100,1);
        --color-3e: rgba(  2, 33, 59,1);

        --color-4a: rgba(118,216,125,1);
        --color-4b: rgba( 70,195, 66,1);
        --color-4c: rgba( 18,162, 27,1);	/* Main Complement color */
        --color-4d: rgba(  1,122,  9,1);
        --color-4e: rgba(  0, 72,  5,1);

        --color-5a: rgba( 105,181,181,1);
        --color-5b: rgba( 44,148,143,1);
        --color-5c: rgba( 13,124,124,1);	/* Main Primary color */
        --color-5d: rgba(  1, 93, 93,1);
        --color-5e: rgba(  0, 55, 55,1);

        --color-6a: rgba(245,250,131,1);
        --color-6b: rgba(212,232, 71,1);
        --color-6c: rgba(178,201, 22,1);	/* Main Secondary color (1) */
        --color-6d: rgba(132,151,  2,1);
        --color-6e: rgba( 78, 89,  0,1);

        --color-7a: rgba(152,109,195,1);
        --color-7b: rgba(109, 58,161,1);
        --color-7c: rgba( 81, 25,139,1);	/* Main Secondary color (2) */
        --color-7d: rgba( 52,  9,100,1);
        --color-7e: rgba( 32,  3, 62,1);

        --color-file-image: var(--color-3c);
        --color-file-video: #fb98009e;

        --font-size: 19px;
    }
}

:root
{
    font-size: 1.5vh;
}

body
{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-color);
    user-select: none;
}
#screen
{
    position: absolute;
    margin: inherit;
    width: inherit;
    height: inherit;
    overflow: inherit;

}
#home
{
    left: 0;
    top: 0;
    padding: 40px 50px 40px 50px;
    overflow: hidden;
    position: relative;
    margin: inherit;
    width: calc(100% + 24px);
    height: inherit;
    overflow-y: scroll;
    position: absolute;
}

.color1
{
    background-color: var(--color-1b);
    border: 3px solid var(--color-1d);
}

[class*='-tile']
{
    margin: 13.3px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}
[class*='-tile']:hover
{
    animation-name: border_flash;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes border_flash
{
	from { border-color: var(--color-1d); }
	to { border-color: var(--color-1c); }
}
[class*='-tile'].placed
{
    position: absolute;
}
[class*='-tile']:active
{
    animation: none;
}
[class*='-tile'].click-effect-left
{
    -webkit-transform-origin: right 50%;
    transform-origin: right 50%;
    -webkit-transform: perspective(500px) rotateY(-0.077rad) !important;
    transform: perspective(500px) rotateY(-0.077rad) !important;
}
[class*='-tile'].click-effect-right
{
    -webkit-transform-origin: left 50%;
    transform-origin: left 50%;
    -webkit-transform: perspective(500px) rotateY(0.077rad) !important;
    transform: perspective(500px) rotateY(0.077rad) !important;
}
[class*='-tile'].click-effect-top
{
    -webkit-transform-origin: 50% bottom;
    transform-origin: 50% bottom;
    -webkit-transform: perspective(500px) rotateX(0.077rad) !important;
    transform: perspective(500px) rotateX(0.077rad) !important;
}
[class*='-tile'].click-effect-bottom
{
    -webkit-transform-origin: 50% top;
    transform-origin: 50% top;
    -webkit-transform: perspective(500px) rotateX(-0.077rad) !important;
    transform: perspective(500px) rotateX(-0.077rad) !important;
}
[class*='mini-'] { width: var(--p80); height: var(--p80); }
[class*='base-'] { width: var(--p160); height: var(--p160); }
[class*='wide-'] { width: var(--p320); height: var(--p160); }
[class*='tall-'] { width: var(--p160); height: var(--p320); }
[class*='large-'] { width: var(--p320); height: var(--p320); }
[class*='wider-'] { width: var(--p640); height: var(--p320); }
[class*='taller-'] { width: var(--p320); height: var(--p640); }
[class*='larger-'] { width: var(--p640); height: var(--p640); }
[class*='widest-'] { width: var(--p960); height: var(--p640); }
[class*='tallest-'] { width: var(--p640); height: var(--p960); }
[class*='largest-'] { width: var(--p960); height: var(--p960); }
div[class*='base-'] .icon { font-size: calc(var(--p160) - 10px); line-height: var(--p160); }

div[class*='-tile']:not([type='directory']):before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 10px 50px 0 0;
    border-color: var(--background-color) transparent transparent transparent;
}
div[class*='-tile']:not([type='directory']):after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 10px 50px 0 0;
    border-color: transparent var(--background-color) transparent  transparent;
}
div[class*='-tile'] .icon
{
    width: 100%;
    text-align: center;
    position: absolute;
}

div[class*='-tile'] .icon:before,
div[class*='-tile'] .icon:after
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
div[class*='-tile'] .icon:after { opacity: 0.6 }
div[class*='-tile'] .icon:before { opacity: 0.45 }
div[class*='-tile'][type*='text/javascript'] .icon:before,
div[class*='-tile'][type*='text/javascript'] .icon:after
{
    background-image: url(theme/filetypes/javascript.jpg);
}
div[class*='-tile'][type='directory'] .icon:before,
div[class*='-tile'][type='directory'] .icon:after
{
    background-image: url(theme/filetypes/directory.jpg);
}
[class*='-tile'] .bar
{
    padding: 0.2vh 0 0.2vh 0.4vw;
    border-radius: 0.1vw;
    width: 100%;
    height: calc(var(--font-size) * 1.5);
    line-height: calc(var(--font-size) * 1.25);
    font-size: var(--font-size);
    background-color: var(--color-0a);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 77%;
    color: var(--color-0b);
    pointer-events: none;
}
