@media (prefers-color-scheme: dark)
{

}
@media (prefers-color-scheme: dark)
{
    :root
    {
        --color-0a: #ffffff37;
        --color-0b: #ffffff;
        --color-1a: rgba(255,137,134,1);
        --color-1b: rgba(242, 79, 79,1);
        --color-1c: rgba(206, 37, 27,1);	/* Main Primary color */
        --color-1d: rgba(155,  6,  2,1);
        --color-1e: rgba( 91,  2,  0,1);

        --color-2a: rgba(255,204,134,1);
        --color-2b: rgba(239,169, 73,1);
        --color-2c: rgba(206,129, 22,1);	/* Main Secondary color (1) */
        --color-2d: rgba(155, 91,  2,1);
        --color-2e: rgba( 91, 53,  0,1);

        --color-3a: rgba(106,151,189,1);
        --color-3b: rgba( 54,109,154,1);
        --color-3c: rgba( 23, 83,133,1);	/* Main Secondary color (2) */
        --color-3d: rgba(  8, 58,100,1);
        --color-3e: rgba(  2, 33, 59,1);

        --color-4a: rgba(118,216,125,1);
        --color-4b: rgba( 70,195, 66,1);
        --color-4c: rgba( 18,162, 27,1);	/* Main Complement color */
        --color-4d: rgba(  1,122,  9,1);
        --color-4e: rgba(  0, 72,  5,1);

        --color-5a: rgba( 105,181,181,1);
        --color-5b: rgba( 44,148,143,1);
        --color-5c: rgba( 13,124,124,1);	/* Main Primary color */
        --color-5d: rgba(  1, 93, 93,1);
        --color-5e: rgba(  0, 55, 55,1);

        --color-6a: rgba(245,250,131,1);
        --color-6b: rgba(212,232, 71,1);
        --color-6c: rgba(178,201, 22,1);	/* Main Secondary color (1) */
        --color-6d: rgba(132,151,  2,1);
        --color-6e: rgba( 78, 89,  0,1);

        --color-7a: rgba(152,109,195,1);
        --color-7b: rgba(109, 58,161,1);
        --color-7c: rgba( 81, 25,139,1);	/* Main Secondary color (2) */
        --color-7d: rgba( 52,  9,100,1);
        --color-7e: rgba( 32,  3, 62,1);

        --color-file-image: var(--color-3c);
        --color-file-video: #fb98009e;
    }
}

:root
{
    font-size: 1.5vh;
}

body
{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--color-1e);
    user-select: none;
}
#screen
{
    position: absolute;
    margin: inherit;
    width: inherit;
    height: inherit;
    overflow: inherit;

}
#home
{
    left: 0;
    top: 0;
    padding: 40px 60px 40px 60px;
    overflow: hidden;
    position: relative;
    margin: inherit;
    width: calc(100%+24px);
    height: inherit;
    overflow-y: scroll;
}

.color1
{
    background-color: var(--color-1b);
    border: 3px solid var(--color-1d);
}

.tile
{
    width: 160px;
    height: 160px;
    margin: 13.3px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}
.tile:hover
{
    animation-name: border_flash;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes border_flash
{
	from { border-color: var(--color-1d); }
	to { border-color: var(--color-1c); }
}
.tile:active
{
    animation: none;
}
.tile.click-effect-left:active, .tile.click-effect-right:hover
{
    -webkit-transform-origin: right 50%;
    transform-origin: right 50%;
    -webkit-transform: perspective(500px) rotateY(-0.7rad) !important;
    transform: perspective(500px) rotateY(-0.07rad) !important;
}
.tile.click-effect-right:active, .tile.click-effect-right:hover
{
    -webkit-transform-origin: left 50%;
    transform-origin: left 50%;
    -webkit-transform: perspective(500px) rotateY(0.07rad) !important;
    transform: perspective(500px) rotateY(0.07rad) !important;
}
.tile.click-effect-top:active, .tile.click-effect-top:hover
{
    -webkit-transform-origin: 50% bottom;
    transform-origin: 50% bottom;
    -webkit-transform: perspective(500px) rotateX(0.7rad) !important;
    transform: perspective(500px) rotateX(0.7rad) !important;
}
.tile.click-effect-bottom:active, .tile.click-effect-bottom:hover
{
    -webkit-transform-origin: 50% top;
    transform-origin: 50% top;
    -webkit-transform: perspective(500px) rotateX(-0.7rad) !important;
    transform: perspective(500px) rotateX(-0.7rad) !important;
}

.tile .bar
{
    padding: 0.2vh 0 0.2vh 0.4vw;
    border-radius: 0.1vw;
    width: 100%;
    height: calc(var(--font-size) * 3);
    line-height: calc(var(--font-size) * 3);
    font-size: var(--font-size);
    background-color: var(--color-0a);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 77%;
    color: var(--color-0b);
    pointer-events: none;
}
